.sessions-container{
    margin-top: auto;
    width: 100%;
    
    height: calc(100% - 75px);
    padding: 0;
    display: flex;
   
    overflow: hidden;
    .sessions-content{
        width: 80%;
        padding: 2rem;
        overflow-y: auto;
       
        h1{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
            
            
        }
    }
    .bookings-container{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;
        padding: 1rem 0;
        h2{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
        
        }
        h6{
            font-size: 1rem;
            color: black;
        }
        .booking-list{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: .5rem;
            
            .booking-item{
                border: 1px solid rgba(0, 0, 0, 0.514);
                border-radius: 15px;
                width: 100%;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    h5{
                        font-size: 1rem;
                        font-weight: 600;
                        margin: 0;
                    }
                    p{
                        font-size: .9rem;
                        
                        margin: 0;
                        a{
                            color: #ff0000;
                        }
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    p{
                        font-size: .9rem;
                        
                        margin: 0;
                    }
                }
            }
            button{
                padding: .5rem 1rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 500;
                width: fit-content;
                border: 1px solid #ff0000;
                color: #ff0000;
                transition: all .4s ease;
                align-self: flex-end;    
                
            }
        }
    }
}